@font-face {
    font-family: 'orbitron-bold-webfont';
    src: url('../font/orbitron-bold-webfont.ttf') format('truetype');
	/*src: local('orbitron-bold-webfont'), url('orbitron-bold-webfont.woff') format('woff'), url('orbitron-bold-webfont.ttf') format('truetype'), url('orbitron-bold-webfont.svg#webfontNgZtDOtM') format('svg');*/
}

html {
    background-color: #FFFFFF;
}

#c {
    display: block;
    margin: 0 auto;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
}